body{
    background-color: #6f0000;
    margin: 0;
    padding: 0;

}


#box-before {
    
    background-color: #f1e3cb ;
    position: absolute;
    height: 100px;
    width: 180px;
    top: 40%;
    left: 35%;
    transition: 1s;
transform-origin: right bottom;

    
}
#box-before:after{
    content:'';
   position: absolute;
    transition: 2s;
    height: 100%;
    width: 100%;
    background: #fff;
    transition: 2s;
    transform-origin: right bottom;
    
    

}
#box-before:hover{

   background-color: #e43f5a;
    transform: rotate(45deg);  
     border-top-left-radius: 50%;
    border-bottom-left-radius: 50% ;
    
}


#box-before:hover:after{
    background:#e43f5a;
    transform:  rotate(451deg) translateY(100px);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50% ;
}

